@charset "UTF-8";
/* CSS Document */

a:link {
  color: #FF2727;
	background-color: #680607;
	padding: 10px 15px;
	margin: 5px 15px;
	border-radius: 5px;
	text-decoration: none;
}

/* visited link */
a:visited {
  color: #FF0004;
}

/* mouse over link */
a:hover {
  color: #E92626;
}

/* selected link */
a:active {
  color: #391415;
}
.thirdcolumn {
	width: 28.3%;
	padding: 15px;
	float: left;
	margin: 10px;
}
.thirdcolumn:hover {
	box-shadow: 0px 0px 5px 0px #444;
}
body {
	background-color: #FFE1E1;
	color:#430000;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}